<br>
<br>
<br>

<div class="text-center" style="background-color: darkblue; color: antiquewhite;">
    <h1>Maneras de disminuir la extincion de los animales</h1>
</div>
<div class="container">

    <div id="opiniones" class="bg-dark text-danger my-5">
        <div class="container text-center ">
            <br>
            <h2><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i>Opciones</h2>

            <br>


            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    opción 1
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>APAREAMIENTO.</strong>La acción temprana sobre los animales en peligro de
                                    extinción puede dar sus frutos, haciendo que las especies se recuperen a través de
                                    una reproducción supervisada.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    opción 2
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>NO HACER CAZA FURTIVA.</strong>La caza furtiva es una de las causas
                                    principales que provocan la desaparición de miles de especies cada año en el mundo.
                                    El tráfico de animales y la caza ilegal son dos de las mayores amenazas para la
                                    especies protegidas. Cada año, una media de 100 tigres son asesinados a manos de
                                    estos furtivos.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    opción 3
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>RESPETAR EL HABITAT DE LOS ANIMALES.</strong>Otro de los motivos que están
                                    poniendo en serio peligro la supervivencia de miles de especies es la destrucción de
                                    su hábitat debido a las abusivas actividades humanas. Esto provoca desplazamientos
                                    de las especies hacia otros ecosistemas que acaban alterando tanto la fauna y flora,
                                    como su propio desarrollo colocándoos al borde de la extinción.
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <img class="img-fluid rounded "
                        src="https://www.masquesaludanimal.es/posts/asset_upload_file39075_613728.jpg" alt="">
                    <br>

                </div>
                <br>




            </div>


        </div>
    </div>




</div>